$imageBackground: url("@assets/images/image_background.png");

.scrollSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  position: relative;
}

.firstBlock {
  &_up {
    height: 30%;

    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%),
      $imageBackground;
    .header {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;

      &_left,
      &_right {
        font-size: 18px;
      }

      &_why,
      &_services {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &_center {
        font-family: "FreeHandFont";
        font-size: 60px;
      }
    }

    .header > * {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &_down {
    height: 70%;
    background-color: white;
    position: relative;

    &_picture {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 160px;
      height: 160px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 2;
      border: 2px solid white;
    }

    &_picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_text {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;

      &_first {
        font-size: 36px;
      }
      &_second {
        font-size: 16px;
      }
    }
  }
}

.lineContainer {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  z-index: 1;
  &_line {
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.6),
      transparent
    );
  }
}
