* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  cursor: pointer;

  // text-decoration: none;
  // color: unset;
  // font-family: unset;

  text-decoration: inherit;
  color: inherit;
  font-family: inherit;

  // all: unset;
  // display: inline;
  // cursor: pointer;

  // color: inherit;
  // text-decoration: inherit;
  // font-size: inherit;
  // font-weight: inherit;
  // line-height: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

body {
  background-color: white;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  color: black;
}

ul,
ul li {
  list-style: none;
}

@font-face {
  font-family: "FreeHandFont";
  src: url("@assets/fonts/chalkcyrillicfreehand.ttf") format("truetype");
  font-display: swap;
  // font-weight: normal;
  // font-style: normal;
}
