.scrollSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.thirdBlock {
  background-color: white;

  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  gap: 20px;
  padding: 40px;

  &_header {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
  }

  &_ul {
    display: flex;
    flex-direction: row;
    gap: 40px;

    &_li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 20px;

      font-size: 18px;
      font-weight: 300;
      line-height: 1.55;

      &_title {
        font-size: 30px;
        line-height: 1.17;
        font-weight: 600;
      }

      &_icon img {
        width: 80px;
      }
    }
  }
}

.lineContainer {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  z-index: 1;
  &_line {
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.6),
      transparent
    );
  }
}

@media (max-width: 1024px) {
  .thirdBlock {
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    &_header {
      font-size: 36px;
      text-align: center;
    }

    &_ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      &_li {
        width: 45%;
        font-size: 16px;
        &_title {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .scrollSection {
    height: auto;
    padding: 40px 0;
  }

  .thirdBlock {
    padding: 20px;
    &_header {
      font-size: 28px;
    }
    &_ul {
      flex-direction: column;
      gap: 40px;

      &_li {
        width: 100%;
        font-size: 14px;
        &_title {
          font-size: 20px;
        }
        &_icon img {
          width: 60px;
        }
      }
    }
    .lineContainer {
      bottom: 10px;
      left: 20px;
      width: calc(100% - 40px);
    }
  }
}
